/.idea
/vendor
/node_modules
/package-lock.json
/.php-cs-fixer.cache
/.phpunit.result.cache
/.phpunit.cache
/.phpstan.cache
/.build
/build
/tools
/php-cs-fixer.xml
/phpstan.xml
*.phar
/composer.lock
.DS_Store
/node_modules
/package-lock.json
/docs/.vitepress/cache
/docs/.vitepress/dist
